.DS_Store
.dart_tool/

.packages
.pub/

build/
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*

pubspec.lock

.idea
*.iml

example/*
!example/configs/.*
!example/services/.*
!example/lang